In [9]:
import pandas as pd
!ls

Challenge_JAVI.ipynb Untitled1.ipynb      iris.csv
Problema3.ipynb      Untitled2.ipynb      pruebas.ipynb
Problema4.ipynb      Untitled3.ipynb      searches.csv.bz2
Untitled.ipynb       bookings.csv.bz2

## Phase 1 - Solve "Small Data Problem (nrows)"

In [2]:
df = pd.read_csv ('bookings.csv.bz2', nrows= 1000, sep='^')
df.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [3]:
# Limpieza

df['arr_port'].head()

0    LHR
1    CLT
2    CLT
3    SVO
4    SVO
Name: arr_port, dtype: object

In [4]:
len(df['arr_port'][1])

8

In [5]:
df['arr_port']=df['arr_port'].str.strip().str.upper()

In [6]:
len(df['arr_port'][1])

3

In [7]:
# Simplificar columnas

ex2 = df[['arr_port','pax','year']]

In [8]:
# Agrupación y ranking de 10 aeropuertos con más llegadas.

ex2.groupby(['arr_port']).sum().sort_values('pax', ascending = False).head(10)

          pax   year
arr_port
DCA        50  24156
JFK        14  32208
FLL        13  10065
PVG        13  28182
CGK        12  16104
LGA        12  28182
SVO        12  18117
LAS        11  22143
BOS        11  18117
MIA        11  38247

## Phase 1' - Solve Problem 1  with Chunks (csv line counter)

In [37]:
size = 10000
df_chunk = pd.read_csv('bookings.csv.bz2', chunksize=size,sep='^')
df_chunk

In [38]:
# Bucle contador de lineas de archivo csv

contador_lineas = 0
for chunk in df_chunk:  
    # filtrar
    contador_lineas += len(chunk)
    
print (contador_lineas)

10000010

## Phase 2 - Intermediate Problem (chunks & nrows)

In [11]:
df_chunk = pd.read_csv('bookings.csv.bz2', chunksize= 1000,nrows=10000, sep= '^' )

chunk_list = []

for chunk in df_chunk:
    chunk = chunk[['arr_port','pax','year']]
    chunk = chunk[chunk['year']==2013]
    chunk['arr_port']=chunk['arr_port'].str.replace(" ","").str.upper()
    chunk_list.append(chunk)

df_total = pd.concat(chunk_list)

In [12]:
df_total.groupby(['arr_port']).sum().sort_values('pax', ascending = False)['pax'].astype(int).head(10)

arr_port
HKG    112
LGA     95
ORD     94
JFK     92
LAX     91
SFO     91
MCO     90
DCA     82
DEN     79
LHR     76
Name: pax, dtype: int64

## Phase 3 - Final Solution (full csv proceed with Chunks)

In [75]:
df_chunk = pd.read_csv('bookings.csv.bz2', chunksize= 1000, sep= '^' )

chunk_list = []

for chunk in df_chunk:
    chunk = chunk[['arr_port','pax','year']]
    chunk = chunk[chunk['year']==2013]
    chunk['arr_port']=chunk['arr_port'].str.replace(" ","").str.upper()
    chunk_list.append(chunk)

df_total = pd.concat(chunk_list)

In [97]:
df_total.groupby(['arr_port']).sum().sort_values('pax', ascending = False)['pax'].astype(int).head(10)

arr_port
LHR    88809
MCO    70930
LAX    70530
LAS    69630
JFK    66270
CDG    64490
BKK    59460
MIA    58150
SFO    58000
DXB    55590
Name: pax, dtype: int64